.rounded-circle{
    width: 8%;
    margin-top: 2%;
}
.cardstyle{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.progress-bar{
    width: 75%;
}
.taskprogress{
    margin-top: 4%;
    
}
.teambutton{
    margin-bottom:2%
}
.persondetails{
    display: inline;
}
.person{
    margin: 2%;
}
.apiavatar{
    margin-top: 2%;
}
.projectassist{
    margin-top: 20%;
}
.proassist{
    margin-left: 2%;
}